@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$body-font: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$basic-colors: (
    danger: #AC5317,
    warning: #D58936,
    success: #04A777,
    info: #398bf7,
    theme: #8B0807,
    primary: #212529,
    backgroundColor: #242424,
    secondary: #455a64,
    accent: #398bf7,
);

$basic-theme-colors: (
    theme: map-get($basic-colors, theme),
    primary: map-get($basic-colors, primary),
    dark: lighten(map-get($basic-colors, primary),15),
    gray: lighten(map-get($basic-colors, primary),30),
    light: lighten(map-get($basic-colors, primary),50),
    verylight: lighten(map-get($basic-colors, primary),75),
    border: lighten(map-get($basic-colors, primary),25),
    backgroundColor: map-get($basic-colors, backgroundColor),
    secondary: map-get($basic-colors, secondary),
    secondary-light: lighten(map-get($basic-colors, secondary),10),
    secondary-dark: darken(map-get($basic-colors, secondary),10),
    accent: map-get($basic-colors, accent),
    success: map-get($basic-colors, success),
    warning: map-get($basic-colors, warning),
    info: map-get($basic-colors, info),
    danger: map-get($basic-colors, danger),
    white: lighten(map-get($basic-colors, primary),100),
);

$colors: $basic-theme-colors;

@function color($color-name) {
    @return map-get($colors, $color-name);
}

////////// MARGIN SYSTEM //////////

$s5: 5px;
$s10: 10px;
$s15: 15px;
$s20: 20px;
$s25: 25px;
$s30: 30px;
$t: 'top';
$r: 'right';
$b: 'bottom';
$l: 'left';

// List of headings
$sizes: (5: $s5, 10: $s10, 15: $s15, 20: $s20, 25: $s25, 30: $s30);
$dirs: (t: $t, r: $r, b: $b, l: $l);
