// Componant: Page Title

.app-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	background-color: color(white);
	margin: (-30px) -30px 30px;
	padding: 20px 30px;
    box-shadow: none;
    border-bottom: 1px solid color(light);

	@media print { display: none; }
	@media (max-width: 480px) {
		margin: (-15px) -15px 15px;
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
	}

	h1 {
		margin: 0;
		font-size: 32px;
		font-weight: 400;
	}

	p {
        font-size: 20px;
		margin-bottom: 0;
        font-weight: 200;
		@media (max-width: 480px) { display: none; }
	}
}

.breadcrumb {
	margin-bottom: 0;
	text-align: right;
	font-size: 13px;
	text-transform: capitalize;
	padding: 0;
	background-color: transparent;
	@media (max-width: 480px) { margin-top: 10px; }
    font-weight: bold;
    a{
        color: color(secondary-light);
    }
}
