// Componant: Dropdown
// Updated styles for bootstrap dropdown
button.dropdown-item{
    cursor: pointer;
}
.btn {
	cursor: pointer;
	&:not([disabled]):not(.disabled):not(.btn-link):hover,
	&:not([disabled]):not(.disabled):not(.btn-link):focus {
		text-decoration: none;
		transform: translate3d(0, -1px, 0);
		box-shadow: 0 4px 8px 0 rgba(color(primary), 0.4);
	}
	&[disabled] { cursor: not-allowed; }
	.icon,
	.af {
		font-size: 14px;
		margin-right: 5px;
		vertical-align: middle;
	}
}
