/*----- Componant: Top Navigation Bar ----- */

.app-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: flex;
    background-color: color(white);
    z-index: 1030;
    padding-right: 0px;
    @media print {
        display: none;
    }

    .app-sidebar__toggle {
        transition: left 0.3s ease, width 0.3s ease;
        padding: 0 15px;
        color: color(primary);
        border-bottom: 1px solid color(border);
        line-height: 2.4;
        cursor: pointer;
        transition: background-color 0.3s ease;
        @media(max-width: 767px) {
            order: -1;
        }
        &:hover {
            opacity: 0.6;
        }
        &:before {
            font-size: 21px;
        }
    }
}

.app-header__logo {
    overflow: hidden;
    transition: left 0.3s ease, width 0.3s ease;
    color: color(white);
    text-align: center;
    font-family: 'Exo 2';
    border-bottom: 1px solid color(border);
    padding: 0 10px;
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
    flex: 0 0 auto;
    display: block;
    width: 230px;
    background-color: color(secondary);
    &:focus,
    &:hover {
        text-decoration: none;
        color: color(white);
    }
    .logo-big {
        display: flex;
        width: 100%;
        transition: left 0.3s ease, width 0.3s ease;
    }
    .logo-mini {
        display: none;
        width: 0;
        transition: left 0.3s ease, width 0.3s ease;
    }
    img {
        display: inline-block;
        max-height: 40px;
        padding-top: 12px;
        max-width: 100%;
        margin: 0 auto;
    }
}

.app-nav {
    transition: left 0.3s ease, width 0.3s ease;
    @extend .list-unstyled;
    display: flex;
    margin-bottom: 0;
    justify-content: flex-end;
    border-bottom: 1px solid color(border);
    padding-right: 15px;
    @media(min-width: 768px) {
        flex: 1 0 auto;
    }
    li:last-child .app-nav__item {
        border-color: transparent;
    }
}

.app-nav__item {
    display: block;
    padding: 10px 15px;
    margin: 5px 0;
    border-right: 1px solid color(border);
    line-height: 20px;
    color: color(primary);
    transition: background-color 0.3s ease;
    &:hover,
    &:focus {
        opacity: 0.6;
        text-decoration: none;
    }
}

.app-search {
    position: relative;
    display: flex;
    align-self: center;
    margin-right: 15px;
    padding: 10px 0;
    @media(max-width: 480px) {
        display: none;
    }
}

.app-search__input {
    border: 0;
    padding: 5px 10px;
    padding-right: 30px;
    border-radius: 2px;
    background-color: rgba(color(white), 0.8);
    transition: background-color 0.3s ease;
    &::placeholder {
        color: rgba(color(primary), 0.4);
    }
}

.app-search__button {
    position: absolute;
    right: 0;
    top: 10px;
    bottom: 10px;
    padding: 0 10px;
    border: 0;
    color: rgba(color(primary), 0.8);
    background: none;
    cursor: pointer;
}

.app-notification {
    min-width: 270px;
}

.app-notification__title {
    padding: 8px 20px;
    text-align: center;
    background-color: transparentize(color(primary), 0.6);
    color: color(dark);
}

.app-notification__footer {
    padding: 8px 20px;
    text-align: center;
    background-color: color(verylight);
}

.app-notification__content {
    max-height: 220px;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(color(primary), 0.2);
    }
}

.app-notification__item {
    display: flex;
    padding: 8px 20px;
    color: inherit;
    border-bottom: 1px solid color(border);
    transition: background-color 0.3s ease;
    &:focus,
    &:hover {
        color: inherit;
        text-decoration: none;
        background-color: color(verylight);
    }
}

.app-notification__message,
.app-notification__meta {
    margin-bottom: 0;
}

.app-notification__icon {
    padding-right: 10px;
}

.app-notification__message {
    line-height: 1.2;
}

.app-notification__meta {
    @extend .text-muted;
}

.dropdown-menu.language-menu{
    min-width: 4rem;
}
