// Componant: Material Half cover background
//-------------------------------------------------

.material-half-bg {
	height: 100vh;
	background-color: color(verylight);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	.cover {
		background-color: color(primary);
		height: 50vh;
	}
}
