// Componant: Sidebar 

.app-sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding-top: 70px;
	width: 230px;
	overflow: auto;
	z-index: 10;
    background-color: color(secondary);
	box-shadow: 0px 8px 17px rgba(color(primary), 0.2);
	transition: left 0.3s ease,
				width 0.3s ease;
	&::-webkit-scrollbar { width: 6px; }
	&::-webkit-scrollbar-thumb { background: rgba(color(primary),0.2); }
	@media print { display: none; }
}

.app-sidebar__overlay {
	@media(max-width: 767px) {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: 9;
	}
}

.app-sidebar__user {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-bottom: 20px;
    color: color(white);
}

.app-sidebar__user-avatar {
	@extend .rounded-circle;
	flex: 0 0 auto;
	margin-right: 15px;
}

.app-sidebar__user-name {
	font-size: 17px;
	line-height: 1.3;
}

.app-sidebar__user-name,
.app-sidebar__user-designation {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0;
}

.app-menu {
	@extend .list-unstyled;
	margin-bottom: 0;
	padding-bottom: 40px;
    hr{
        border-color: color(white);
        margin: 10px 15px;
    }
    .header{
        padding: 12px 15px;
        color: color(secondary-light);
    }
}

.app-menu__item {
	position: relative;
	display: flex;
	align-items: center;
	padding: 12px 15px;
	font-size: 1.08em;
	border-right: 3px solid transparent;
	transition: border-left-color 0.3s ease,
				background-color 0.3s ease;
	color: color(white);
	&.active{
		background: darken(color(primary), 5);
		border-right-color: color(white);
		text-decoration: none;
        color: color(white);
	}
    &:hover{
        background: darken(color(primary), 10);
        color: color(white);
    }
}

.app-menu__icon {
	flex: 0 0 auto;
	width: 25px;
    height: 22px;
    padding: 4px 0;
}

.app-menu__label {
	white-space: nowrap;
	flex: 1 1 auto;
}

.treeview {
	&.is-expanded {
		[data-toggle='treeview'] {
			border-left-color: color(primary);
			background: darken(color(primary), 10);
		}
		.treeview-menu { max-height: 100vh; }
		.treeview-indicator { transform: rotate(90deg); }
	}
}

.treeview-menu {
	@extend .list-unstyled;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease;
		background: lighten(color(primary), 4)
}

.treeview-item {
	display: flex;
	align-items: center;
	padding: 5px 5px 5px 20px;
	font-size: 1em;
	color: color(white);
	&.active,
	&:hover,
	&:focus {
		background: darken(color(primary), 10);
		text-decoration: none;
		color: color(white);
	}
	.icon { margin-right: 5px; }
}

.treeview-indicator {
	transform-origin: center;
	transition: transform 0.3s ease;
}
