//
// Customize bootstrap variables to match
// look and feel of the theme
//-----------------------------------------------------

$primary: color(primary);

// Customize typographic styles
$font-size-base: 0.875rem;
$font-family-sans-serif: $body-font;
$link-color: color(primary);
$headings-font-weight: bold;

// Customize Dropdown styles
$dropdown-padding-y: 0;
$dropdown-spacer: 0;
$dropdown-border-width: 0;
$dropdown-item-padding-y: 8px;
$dropdown-item-padding-x: 20px;

// Customize button styles
$btn-border-radius: 3px;
$btn-border-radius-lg: 3px;
$btn-border-radius-sm: 3px;
$btn-font-weight: 700;
$btn-transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

// Custmize form component styles

$input-border-radius: 4px;
$input-border-radius-lg: 4px;
$input-border-radius-sm: 4px;
$input-focus-border-color: color(primary);
$input-btn-border-width: 2px;
$input-btn-focus-box-shadow: none;
$input-btn-focus-width: 0;
