////////// COLOR SYSTEM //////////

@each $color, $value in $colors {
    .color-#{$color}{
        color: #{$value};
    }
    .background-#{$color}{
        background-color: #{$value};
    }
}

////////// MARGIN SYSTEM //////////
@each $number, $size in $sizes {
    @each $d, $dir in $dirs {
        .m#{$d}#{$number} {
            margin-#{$dir}: #{$size} !important;
        }
        .p#{$d}#{$number} {
            padding-#{$dir}: #{$size} !important;
        }
    }
}

////////// WIDTH SYSTEM //////////

@for $i from 1 through 100 {
    $w: $i * 1%;
    .width#{$i} {
        width: $w;
    }
}


