.pace {
	pointer-events: none;
	user-select: none;
	.pace-progress {
		background: color(primary);
		position: fixed;
		z-index: 2000;
		top: 0;
		right: 100%;
		width: 100%;
		height: 2px
	}
	.pace-progress-inner {
		display: block;
		position: absolute;
		right: 0;
		width: 100px;
		height: 100%;
		box-shadow: 0 0 10px color(primary), 0 0 5px color(primary);
		opacity: 1;
		transform: rotate(3deg) translate(0px, -4px)
	}
}
.pace-inactive { display: none }
