//
// Application Variables
//-----------------------------------------------------

//
// Theme Colors
//

$white: color(white);

// Primary color is the main color of the application which is used 
// for navbar, active links and primary button.

// ------ Primary Colors from google material design color palette ------
// Blue  : #2196F3
// Teal  : #009688
// Green : #4CAF50
// Brown : #795548
// Purple: #673AB7

$primary-color: color(primary);

$secondary-color: color(secondary);

// Complementry color is used to indecate the loading bar on the top
// of the page with pace.js plugin
$complementry-color: adjust_hue($primary-color, 180);

// ------- Sidebar Width --------
$sidebar-width: 230px;

// ------- Sidebar Colors --------

$border-color: color(light);

// Sidebar accent varible is used to determine the color of the links
// of the sidebar. The allowed values are 'light' or 'dark' only
$sidebar-accent: color(dark);

// The following varibles indecate sidebar link color
// and link hover color when using a dark sidebar color
$sidebar-dark-color: color(white);
$sidebar-dark-link-color: color(white);

// The following varibles indecate sidebar link color
// and link hover color when using a light sidebar color
$sidebar-light-color: color(primary);
$sidebar-light-link-color: color(dark);
