// Page common styles

.lfm-body {
    h1{
        text-align: center;
        background-color: color(primary);
        color: color(white);
    }
    .mfb-component__button--main, .mfb-component__button--child {
        background-color: color(secondary);
    }
    .dropdown-item {
        cursor: pointer;
    }
    .navbar {
        padding: 0.5em 0;
    }
    .nav-item dropdown {
        margin-right: 5px;
    }
    .nav-pills .nav-link {
        border: 1px solid color(verylight);
    }
    .nav-pills .nav-link:before {
        margin-right: 5px;
    }

    #to-previous:hover {
        opacity: 0.7;
    }
    .dropdown-toggle .caret {
        margin-right: -7px;
    }

    .table-list-view .actions {
        max-width: 100px;
    }
    .content{
        padding-top: 30px;
    }
}
