// Page: Login Material

.lockscreen-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;

	.logo {
		font-family: "Exo 2";
		margin-bottom: 40px;
		color: color(white);

		h1 {
			font-size: 52px;
			font-weight: 400;
		}
	}

	.lock-box {
		position: relative;
		min-width: 320px;
		padding: 20px 40px;
		background-color: color(white);
		box-shadow: 0px 29px 147.5px 102.5px rgba(color(primary), 0.05), 0px 29px 95px 0px rgba(color(primary), 0.16);
		perspective: 800px;
		transition: all 0.5s ease-in-out;

		.user-image {
			border: 3px solid color(white);
			max-width: 100px;
			display: block;
			margin: 0 auto;
		}

		.user-name { margin-bottom: 2px; }

		label {
			color: color(dark);
			font-weight: 700;
		}
	}
}
